.messenger__connections {
  height: 100%;
  &.expand {
    transition: 0.2s ease-in-out;
    width: 26rem;
    .messenger__connections__name {
      opacity: 1;
      transition-delay: 0.2s;
      transition: opacity 0.35s ease-in-out;
    }
  }
  &.retract {
    transition: 0.2s ease-in-out;
    width: 7rem;
  }
  &__header {
    align-items: center;
    box-shadow: var(--box-shadow-light);
    cursor: pointer;
    display: flex;
    height: 8rem;
    position: relative;
    width: 100%;
  }
}

@include respond(desktop) {
  .messenger__connections {
    &.retract {
      transition: 0.2s ease-in-out;
      width: 100%;
    }
  }
}
