$retracted-sidenav-width: 7rem;

.applicants {
  height: 100%;
  margin-left: $retracted-sidenav-width;
  &__main {
    height: calc(100% - 100px);
    overflow-y: scroll;
    padding: var(--padding-sm);
  }
  &__list {
    display: none;
  }
}

@include respond(desktop) {
  .applicants {
    margin-left: unset;
    &__main {
      margin-left: unset;
    }
  }
}
