.no-items {
  color: var(--color-grey-tertiary);
  display: flex;
  justify-content: center;
  span {
    font-size: 1.25rem;
    margin-top: 4rem;
    letter-spacing: var(--letter-spacing-sm);
    text-align: center;
    width: 30rem;
  }
  &.darkmode {
    color: var(--color-white);
  }
}
@include respond(tablet) {
  .no-items {
    span {
      font-size: 1.4rem;
    }
  }
}
