$retracted-sidenav-width: 7rem;

.no-items {
  align-items: center;
  color: var(--color-grey-tertiary);
  display: flex;
  height: 100%;
  justify-content: center;
  margin-left: $retracted-sidenav-width;
  width: calc(100% - $retracted-sidenav-width);
  span {
    font-size: 1.45rem;
    letter-spacing: var(--letter-spacing-sm);
  }
}
.no-items.darkmode {
  color: var(--color-white);
}

@include respond(desktop) {
  .no-items {
    margin-left: unset;
    width: 100%;
  }
}
