.my-jobs {
  display: flex;
  padding: var(--padding-md);
  justify-content: center;
  &__msg {
    color: #fff;
    font-size: 1.4rem;
    letter-spacing: var(--letter-spacing-sm);
    max-width: 30rem;
    text-align: center;
    margin: 4rem auto;
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

@include respond(tablet) {
  .my-jobs {
    &__list {
      display: grid;
      gap: 0.5rem;
      grid-template-columns: repeat(2, 1fr);
      max-width: 60rem;
    }
  }
}

@include respond(desktop) {
  .my-jobs {
    &__list {
      grid-template-columns: repeat(3, 1fr);
      max-width: 90rem;
    }
  }
}
