.my-jobs {
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: var(--padding-sm);
}

@include respond(tablet) {
  .my-jobs {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 70rem;
  }
}

@include respond(desktop) {
  .my-jobs {
    max-width: 90rem;
  }
}
