.my-jobs {
  display: flex;
  padding: var(--padding-md);
  justify-content: center;
  &__msg {
    color: #fff;
    font-size: 1.4rem;
    letter-spacing: var(--letter-spacing-sm);
    max-width: 30rem;
    text-align: center;
    margin: 4rem auto;
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
}

@include respond(tablet) {
  .my-jobs {
    &__list {
      max-width: 70rem;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

@include respond(desktop) {
  .my-jobs {
    &__list {
      max-width: 90rem;
    }
  }
}
