.profile-form__steps {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  height: 6rem;
  width: 100%;
  div {
    color: var(--color-grey-tertiary);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 1.25rem;
    height: 100%;
    letter-spacing: var(--letter-spacing-sm);
    text-align: center;
    h3 {
      align-self: center;
      font-size: 90%;
      flex-grow: 1;
      line-height: 5.5rem;
    }
    span {
      background-color: var(--color-primary);
      width: 0%;
      height: 0.5rem;
      margin-top: auto;
      transition: 0.2s ease-in-out;
    }
  }
  &.darkmode {
    div {
      color: #fff;
    }
  }
}

@include respond(tablet) {
  .profile-form__steps {
    div {
      h3 {
        font-size: 1.45rem;
      }
    }
  }
}
