.spinner-overlay {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
  width: 100%;
  .spinner-message {
    color: var(--color-grey-primary);
    font-size: 1.4rem;
    letter-spacing: var(--letter-spacing-md);
    margin-bottom: var(--margin-md);
  }
  .spinner-container {
    width: 12rem;
    height: 12rem;
    border: 8px solid rgba(195, 195, 195, 0.6);
    border-radius: 50%;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
    @keyframes spin {
      to {
        -webkit-transform: rotate(360deg);
      }
    }
    @-webkit-keyframes spin {
      to {
        -webkit-transform: rotate(360deg);
      }
    }
  }
}
