.settings {
  height: 100%;
  overflow-x: hidden;
  width: 100%;
  a,
  div {
    cursor: pointer;
    height: 4.8rem;
    letter-spacing: var(--letter-spacing-md);
    line-height: 4.8rem;
    text-align: center;
    &:hover {
      color: #000;
    }
  }
  &__themes {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    div {
      border-radius: 50%;
      height: 4.2rem;
      width: 4.2rem;
    }
  }
  &__link {
    font-size: 1.4rem;
    color: var(--color-grey-tertiary);
    margin: 1rem auto;
    &.darkmode {
      color: #e5e5e5;
    }
    &:hover {
      border-bottom: 0.2rem solid;
    }
  }
  &__modes {
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      color: var(--color-grey-primary);
      font-size: 4rem;
      margin: 0.5rem;
    }
  }
}
