.sidenav {
  margin-top: 81px;
}
.sidenav__main {
  height: 90%;
  padding: 0.5rem;
  width: 100%;
}
.sidenav__profile-img {
  border-radius: 50%;
  height: 5rem;
  margin: 1rem 0 1rem 0.5rem;
  width: 5rem;
  object-fit: cover;
  display: none;
}
@include respond(tablet) {
  .sidenav {
    margin-top: unset;
  }
  .sidenav__profile-img {
    display: block;
  }
}
