.dashboard__nav {
  position: absolute;
  left: 0;
  background-color: #f9f9f9;
  height: 90vh;
  margin-top: 10vh;
  width: 0rem;
  z-index: 2;

  &.retract {
    transition: 0.2s ease-in-out;
  }
  &.expand {
    transition: 0.2s ease-in-out;
    width: 100%;
  }

  &.darkmode {
    background-color: #242424 !important;
  }

  &__profile-img {
    border-radius: 50%;
    height: 5rem;
    margin: 1rem 0 1rem 0.5rem;
    width: 5rem;
    object-fit: cover;
    display: none;
  }

  &__main {
    height: 90%;
    padding: 0.5rem;
    width: 100%;
  }
}

@include respond(tablet) {
  .dashboard__nav {
    box-shadow: var(--box-shadow-medium);
    grid-area: dashnav;
    height: 100vh;
    margin-top: 0;
    &.retract {
      width: 7rem;
      transition: width 0.2s ease-in-out;
    }
    &.expand {
      width: 26rem;
    }
    &.darkmode {
      box-shadow: 0 0.2rem 0.5rem #000;
    }
  }
  .dashboard__nav__profile-img {
    display: block;
  }
}

@include respond(desktop) {
  .dashboard__nav {
    &.retract {
      width: 26rem !important;
    }
  }
}
