.chat__header {
  align-items: center;
  box-shadow: var(--box-shadow-light);
  display: flex;
  height: 80px;
  position: relative;

  &__imgUrl {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 2rem;
    img {
      border-radius: 50%;
      height: 5rem;
      object-fit: cover;
      width: 5rem;
    }
  }
  span {
    font-size: 1.6rem;
    letter-spacing: var(--letter-spacing-sm);
    margin-left: var(--margin-sm);
  }
}

.chat__header.darkmode {
  box-shadow: 0 0.1rem 0.2rem #000;
  i {
    color: #fff;
  }
  span {
    color: #fff;
  }
}
@include respond(tablet) {
  .chat__header {
    grid-area: head;
  }
}
