.sidenav__header {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 8rem;
  position: relative;
  width: 100%;
  i {
    font-size: 3.2rem;
    position: absolute;
    right: 0;
    transition: 0.2s ease-in-out;
    z-index: 2;
    &.rotate {
      transform: rotate(-180deg);
    }
  }
  &__name {
    font-size: 1.5rem;
    letter-spacing: var(--letter-spacing-md);
    position: absolute;
    left: 7rem;
    &.darkmode {
      color: #fff;
    }
  }
  &__profile-img {
    border-radius: 50%;
    height: 5rem;
    margin: var(--margin-sm);
    width: 5rem;
    object-fit: cover;
  }
}

@include respond(desktop) {
  .sidenav__header {
    i {
      display: none;
    }
  }
}
