.sidenav__header {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 8rem;
  width: 100%;

  &__profile-img {
    border-radius: 50%;
    height: 5rem;
    margin: var(--margin-sm);
    width: 5rem;
    object-fit: cover;
  }
}
