.sidenav {
  box-shadow: var(--box-shadow-medium);
  height: calc(100% - 80px);
  position: absolute;
  background-color: var(--color-white);
  width: 0rem;
  z-index: 1;

  &.retract {
    transition: 0.2s ease-in-out;
    .sidenav__header {
      .dashboard__main {
        width: 100%;
      }
      &__name {
        visibility: hidden;
      }
    }
  }

  &.expand {
    transition: 0.2s ease-in-out;
    width: 26rem;
    .sidenav__header__name {
      opacity: 1;
      transition-delay: 0.2s;
      transition: opacity 0.35s ease-in-out;
    }
  }
  &.darkmode {
    background-color: #242424;
    box-shadow: 0 0.2rem 0.5rem #000;
  }
}

@include respond(tablet) {
  .sidenav {
    height: 100%;
    &.retract {
      width: 7rem !important;
      .sidenav__header__name {
        opacity: 0;
      }
    }
  }
}

@include respond(desktop) {
  .sidenav {
    &.retract {
      width: 26rem !important;
    }
    &__header__name {
      opacity: 1 !important;
    }
  }
}
