.dashboard {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  &__panel {
    background-color: #fbf7f5;
    height: 100%;
    position: relative;
    transition: 0.1s ease-in;
    width: 100%;
    &.darkmode {
      background-color: #242424 !important;
    }
  }
  &__main {
    height: 100%;
    width: 100%;
  }
}

@include respond(tablet) {
  .dashboard {
    &__panel {
      border-radius: 0.4rem;
      height: 100%;
      width: 100%;
    }
  }
}

@include respond(desktop) {
  .dashboard {
    &__panel {
      display: grid;
      grid-template-columns: 26rem auto;
    }
    &__main {
      height: 100%;
      left: 26rem;
      position: absolute;
      top: 0;
      width: calc(100% - 260px);
    }
  }
}
