.messenger {
  background-color: #fbf7f5;
  border-radius: 0.2rem;
  box-shadow: var(--box-shadow-medium);
  height: 100%;
  position: relative;
  width: 100%;
  &__connections {
    position: absolute;
  }
}

@include respond(tablet) {
  .messenger {
    height: calc(100% - 40px);
    width: calc(100% - 40px);
  }
}

@include respond(desktop) {
  .messenger {
    display: grid;
    grid-template-columns: minmax(24rem, 20%) auto;
    max-height: 68rem;
    max-width: 125rem;
    margin: var(--margin-md);
    &__connections {
      position: unset;
    }
  }
}
