.notifications-screen {
  height: 100%;
  margin-left: 7rem;
  &__main {
    height: calc(100% - 80px);
    overflow-y: scroll;
    padding: var(--padding-sm);
  }
}

@include respond(desktop) {
  .notifications-screen {
    margin-left: unset;
  }
}
