.message-bubble {
  border-radius: 1.6rem;
  font-size: 1.4rem;
  margin: 0.5rem 0;
  height: min-content;
  padding: 1rem;
  font-family: 'Varela Round', sans-serif;
  width: max-content;
  max-width: 34rem;
  &.mine {
    background-color: #fff !important;
    margin-left: auto;
    border-bottom-right-radius: unset;
  }
  &.thiers {
    background-color: var(--color-primary);
    justify-self: flex-start;
    filter: brightness(120%);
    margin-right: auto;
    border-bottom-left-radius: unset;
  }
}
