.settings__link {
  align-items: center;
  color: var(--color-grey-tertiary);
  cursor: pointer;
  display: flex;
  font-size: 1.6rem;
  height: 15%;
  justify-content: center;
  letter-spacing: var(--letter-spacing-md);
  margin: 1rem;
  position: relative;
  &.darkmode {
    color: #e5e5e5;
  }
  .material-icons {
    margin-left: 0.25rem;
    margin-right: 1rem;
    font-size: 3.4rem;
    display: none;
  }
  &:hover {
    color: var(--color-primary);
  }
}

@include respond(tablet) {
  .settings__link {
    font-size: 1.4rem;
    height: 4rem;
    justify-content: unset;
    line-height: 4rem;
    .material-icons {
      display: block;
    }
  }
}

@include respond(desktop) {
  .settings__link {
    .hide-text {
      display: block;
    }
  }
}

.display-text {
  display: block;
  text-align: center;
}

.hide-text {
  display: none;
}
