.settings__link {
  color: var(--color-grey-secondary);
  cursor: pointer;
  display: flex;
  font-size: 1.4rem;
  height: 4rem;
  letter-spacing: var(--letter-spacing-md);
  line-height: 4rem;
  margin: 1rem;
  position: relative;
  &.darkmode {
    color: #e5e5e5;
  }
  .material-icons {
    margin-left: 0.25rem;
    margin-right: 1rem;
    font-size: 3.4rem;
  }
  &:hover {
    color: var(--color-primary);
  }
}

@include respond(desktop) {
  .settings__link {
    .hide-text {
      display: block;
    }
  }
}

.display-text {
  display: block;
}

.hide-text {
  display: none;
}
