.alert-item {
  animation: popup ease-in 0.2s;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 0.4rem;
  display: flex;
  height: 4rem;
  justify-content: center;
  margin: 0.25rem;
  max-width: 36rem;
  width: 90%;
  span {
    font-size: 1.25rem;
    letter-spacing: var(--letter-spacing-sm);
  }
  &.success {
    color: var(--color-success);
  }
  &.error {
    color: var(--color-error);
  }
}

@keyframes popup {
  0% {
    transform: translateY(5rem);
  }
  100% {
    transform: translateY(0);
  }
}
