.dash-text-input,
.dash-select-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 6.8rem;
  position: relative;

  label {
    letter-spacing: var(--letter-spacing-sm);
    font-size: 1.25rem;
    span {
      margin-left: var(--margin-sm);
      font-size: 1.4rem;
    }
  }

  input,
  select {
    background-color: transparent;
    border: 0.1rem solid #424242;
    border-radius: 4rem;
    height: 4.4rem;
    font-size: 1.6rem;
    letter-spacing: var(--letter-spacing-md);
    outline: none;
    opacity: 0.8;
    padding: 0 1.5rem;
    width: 100%;
    &:focus {
      border: 0.2rem solid var(--color-primary);
      transition: border-color 0.2s ease-in;
    }
  }
  &.darkmode {
    input,
    select {
      background-color: #121212;
      color: var(--color-white);
    }
    label {
      color: var(--color-white);
    }
  }
  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    text-transform: capitalize;
  }
  i {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 2.4rem;
  }
}
