.file-input {
  align-items: center;
  display: flex;
  position: relative;
  i {
    align-self: center;
    color: #999;
    font-size: 3rem;
  }
  .file-input-wrapper {
    border: 0.2rem solid #999;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 6rem;
    font-size: 1.6rem;
    justify-content: center;
    margin-top: 1rem;
    position: relative;
    width: 6rem;
    &:active {
      transform: translateY(0.2rem);
    }
  }

  label {
    color: #000;
    font-size: 1.2rem;
    letter-spacing: var(--letter-spacing-sm);
    margin-left: var(--margin-sm);
    width: 6rem;
    &.darkmode {
      color: #fff;
    }
  }
  span {
    color: var(--color-primary);
    position: absolute;
    margin-left: var(--margin-sm);
    font-size: 1.6rem;
    left: 5rem;
    top: 0;
  }
  input[type='file'] {
    opacity: 0;
    height: 6rem;
    position: absolute;
  }

  &.dark-mode {
    label {
      color: var(--color-white);
    }
  }
}
