.dash-text-input,
.dash-select-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 6.8rem;
  margin: 1rem 0;
  position: relative;

  label {
    letter-spacing: var(--letter-spacing-sm);
    font-size: 1.25rem;
    span {
      margin-left: var(--margin-sm);
      font-size: 1.4rem;
    }
  }

  input,
  select,
  textarea {
    background-color: transparent;
    border: none;
    border-radius: 0.4rem;
    height: 4.4rem;
    font-size: 1.6rem;
    letter-spacing: var(--letter-spacing-md);
    outline: none;
    opacity: 0.8;
    padding: 0 1.5rem;
    width: 100%;
    &:focus {
      border: 0.2rem solid var(--color-primary);
    }
  }
  select {
    font-size: 1.4rem;
  }
  textarea {
    height: 100%;
    border-radius: 2.4rem;
    font-family: 'Varela Round', sans-serif;
    margin-top: var(--margin-sm);
    padding-top: var(--padding-sm);
    resize: none;
  }
  &.darkmode {
    input,
    select,
    textarea {
      background-color: #121212;
      color: var(--color-white);
    }
    label {
      color: var(--color-white);
    }
  }
  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    text-transform: capitalize;
  }
  i {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 2.4rem;
  }

  small {
    margin-left: 0.5rem;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
}
