.jobs-screen {
  height: 100%;
  &__main {
    display: flex;
    justify-content: center;
    height: calc(100% - 100px);
    overflow-y: scroll;
    padding: var(--padding-sm);
    // For alert container
    position: relative;
  }
  &__list {
    display: none;
  }
}

@include respond(tablet) {
  .jobs-screen {
    margin-left: 7rem;
  }
}

@include respond(desktop) {
  .jobs-screen {
    margin-left: unset;
    &__main {
      margin-left: unset;
      align-items: center;
    }
  }
}
