.job-form {
  display: grid;
  grid-template-rows: repeat(10, 6.5rem);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'title title'
    'comapny comapny'
    'location salary'
    'link link'
    'desc desc'
    'desc desc'
    'img period'
    'pos category'
    'skills skills'
    'btn btn';
  gap: 1.2rem 0.5rem;
  height: min-content;
  max-width: 46rem;
  width: 100%;

  div {
    margin-top: var(--margin-sm);
    &:first-of-type {
      grid-area: title;
    }
    &:nth-of-type(2) {
      grid-area: comapny;
    }
    &:nth-of-type(3) {
      grid-area: location;
    }
    &:nth-of-type(4) {
      grid-area: salary;
    }
    &:nth-of-type(5) {
      grid-area: link;
    }
    &:nth-of-type(6) {
      grid-area: desc;
      height: calc(100% - 10px);
    }
    &:nth-of-type(7) {
      grid-area: img;
    }
    &:nth-of-type(8) {
      grid-area: period;
    }
    &:nth-of-type(9) {
      grid-area: pos;
    }
    &:nth-of-type(10) {
      grid-area: category;
    }
    &:nth-of-type(11) {
      grid-area: skills;
    }
  }
  button {
    background-color: var(--color-primary);
    margin: 2rem 0;
    border: none;
    border-radius: 4rem;
    color: var(--color-white);
    cursor: pointer;
    font-size: 1.4rem;
    grid-area: btn;
    height: 4.2rem;
    letter-spacing: var(--letter-spacing-md);
    outline: none;
    text-transform: uppercase;
    width: 100%;
  }
}

@include respond(tablet) {
  .job-form {
    margin: 2rem;
    grid-column: 2;
  }
}
