.settings__chats-btn {
  align-items: center;
  cursor: pointer;
  justify-content: center;
  display: flex;
  height: 4rem;
  line-height: 4rem;
  margin: 1rem;
  i {
    color: #9e9e9e;
    font-size: 4rem;
    &.darkmode {
      color: #e5e5e5;
    }
  }
  span {
    color: #9e9e9e;
    font-size: 1.45rem;
    font-family: 'Monserat', sans-serif;
    letter-spacing: var(--letter-spacing-md);
    margin: 0 auto;
    text-align: center;
    &.darkmode {
      color: #e5e5e5;
    }
  }
}

@include respond(desktop) {
  .settings__chats-btn {
    .material-icons {
      display: none;
    }
    .hide-text {
      display: block;
    }
  }
}

.display-text {
  display: block;
}

.hide-text {
  display: none;
}
