.create-profile__step {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 30rem;
  height: 100%;
  @include respond(tablet) {
    max-width: 36rem;
  }
}
.create-profile__title {
  margin-top: 10rem;
  margin-bottom: 2rem;
  color: var(--color-white);
  font-size: 1.5rem;
  letter-spacing: var(--letter-spacing-sm);
  @include respond(tablet) {
    align-self: flex-start;
  }
}

.create-profile__inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  @include respond(tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}
.create-profile__btns {
  justify-content: flex-start;
  display: flex;
  width: 100%;
}
.create-profile__btn {
  align-self: flex-end;
  background-color: var(--color-primary);
  border: none;
  border-radius: 0.4rem;
  color: var(--color-white);
  cursor: pointer;
  height: 4rem;
  letter-spacing: var(--letter-spacing-sm);
  margin-top: 2rem;
  margin-right: 1rem;
  width: 10rem;
  &.disabled {
    background-color: var(--color-grey-secondary);
    cursor: unset;
    &:hover {
      filter: brightness(100%);
    }
  }
  &:active {
    transform: translate(2px, 2px);
  }
  &:hover {
    filter: brightness(110%);
  }
}
