.settings__themes {
  align-items: center;
  display: none;
  justify-content: space-evenly;
  margin: 1rem 0;
  div {
    border-radius: 50%;
    cursor: pointer;
    height: 3.6rem;
    width: 3.6rem;
  }
}
.selected-theme {
  align-self: center;
  border-radius: 50%;
  height: 3.6rem;
  margin-top: 1rem;
  margin-left: 0.25rem;
  margin-right: 1rem;
  width: 3.6rem;
}
@include respond(desktop) {
  .selected-theme {
    display: none;
  }
}
