.settings__modes {
  align-self: center;
  cursor: pointer;
  display: flex;
}

.mode-switch {
  align-items: center;
  display: flex;
  height: 6rem;
  justify-content: center;
  width: 4.4rem;
  span {
    color: var(--color-grey-primary);
    font-size: 4.2rem;
    text-align: center;
  }
}

@include respond(desktop) {
  .settings__modes {
    flex-direction: row !important;
    justify-content: space-between;
    width: 10rem;
  }
  .mode-switch {
    span {
    }
  }
}
