.profile-form {
  display: grid;
  grid-template-rows: repeat(8, 6.5rem);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'first-name first-name'
    'last-name last-name'
    'location location'
    'link link'
    'bio bio'
    'bio bio'
    'avatar cv'
    'btn btn';
  gap: 1.2rem 0.5rem;
  height: min-content;
  max-width: 46rem;
  width: 100%;

  div {
    &:first-of-type {
      grid-area: first-name;
    }
    &:nth-of-type(2) {
      grid-area: last-name;
    }
    &:nth-of-type(3) {
      grid-area: location;
    }
    &:nth-of-type(4) {
      grid-area: link;
    }
    &:nth-of-type(5) {
      grid-area: bio;
      height: calc(100% - 10px);
    }
    &:nth-of-type(6) {
      grid-area: avatar;
    }
    &:nth-of-type(7) {
      grid-area: cv;
    }
  }
  button {
    background-color: transparent;
    margin: 1rem 0;
    border: none;
    border-radius: 4rem;
    color: var(--color-white);
    font-size: 1.4rem;
    grid-area: btn;
    height: 4.2rem;
    letter-spacing: var(--letter-spacing-md);
    outline: none;
    text-transform: uppercase;
    width: 100%;
  }
}

@include respond(tablet) {
  .profile-form {
    grid-template-rows: repeat(7, 6rem);
    grid-template-areas:
      'first-name last-name '
      'location location'
      'link link'
      'bio bio'
      'bio bio'
      'avatar cv'
      'btn btn';
    margin: 2rem;
    grid-column: 2;
  }
}
